@{
    ViewBag.Title = "my web";
}

<h2>@ViewBag.s</h2>


<footer>
        <h1>&copy; @DateTime.Now - THINMART XIN CHÀO <br />
            <img src="https://www.google.com.vn/search?q=load&tbm=isch&ved=2ahUKEwiW_5n9h73wAhVyE6YKHdprCngQ2-cCegQIABAA&oq=load&gs_lcp=CgNpbWcQAzIFCAAQsQMyBQgAELEDMgUIABCxAzICCAAyAggAMgIIADICCAAyAggAMgIIADICCAA6BAgjECc6BAgAEEM6BwgAELEDEENQ9eMBWMzmAWDE6AFoAHAAeACAAVyIAd0CkgEBNJgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=gROYYNa6LfKmmAXa16nABw#imgrc=L6kd8BV-Nr8QmM" alt="Young Little Girl Image &amp; Photo (Free Trial) | Bigstock"/></h1>
            <style>
                img{
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            </style>
        </p>
    </footer>